*{
    text-decoration: none;
}
table{
    border-collapse: collapse;
    border-width: 3px;
    font-size: x-large;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    height: 300px;
}
.first{
    height: 200px;
    margin-top: 50px;
}
.logo{
    height: 80%;
    width: 80%;  
     transition: transform 0.2s;
     display: block;
     margin-left: auto;
     margin-right: auto;
     border-style: solid;
     border-width: 3px;
     border: none; 
    
}
.logo:hover{
    transform: scale(1.2);
}
.website-name{
    font-size: 30px;
}
p{
    font-size: x-large;
}
.first-row{
    height: 250px;
    width: 300px;
}
.input{
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    border: solid;
    border-color: rgb(210, 209, 209);  
}
.input::placeholder {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: grey;
}
.input:hover{
    box-shadow: 6px 6px 8px rgb(197, 197, 197);
    border-color: rgb(9, 193, 255);
}
.sandr,.sandrsub{
    margin: 10px 5px;
    padding: 10px 15px 10px 15px;  
}
.sandrsub{
    background-color: #04AA6D;
    color: white;
    font-size: 15px;
    transition: 0.15s;
}
.sandr{
    background-color:  #dd4b39;
    color: white;
    font-size: 15px;
    transition: 0.15s;
}
.sandrsub:hover,.sandr:hover{
    cursor: pointer;
    scale: 1.2; 
    opacity: 0.5;
}
.sandrsub:hover{
    background-color: rgb(64, 218, 64);
}
.sandr:hover{
    background-color: rgb(244, 66, 66);
}
body{
   background-color:rgb(248, 248, 255);
}