.logo{
    height: 200px; 
     transition: transform 0.2s;
     display: block;
     margin: auto;
     border-style: solid;
}
.logo:hover{
    transform: scale(1.19);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.first{
    height: 98vh;
    width: 99vw;
    background-image: url(images/mainbg.jpg);
}
.moving-tag{
    color: whitesmoke;
    font-family: Dancing Script,New Roman;
    font-size: 100px;
    position: absolute;
    top: 39vh;
}
table{
    font-size: x-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 100vh;
}

.website-name{
    font-size: 30px;
}
p{
    font-size: x-large;
}
.first-row{
    height: 250px;
    width: 300px;
}
body{
   padding-bottom: 500px;
   background-color:white;
}


table,th,td{
    padding: 25px;
    border: 2px solid black;
    border-collapse: collapse;
}
.note{
    font-size: 120%;
    color: red;
}
th:hover{
    background-color: powderblue;
}
td:hover{
    background-color: rgb(255, 255, 149);
}
a{
    color: black;
}
a:hover{
    text-decoration: underline;
    color: rgb(148, 148, 148);
}
